
    <!-- About -->
    <section id="about" class="about">
        <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="row">
                <div class="col-md-6">
                          <img src="https://adrianopereira.github.io/imagens/kassio.png" class="img-responsive img-circle " alt="kassio" ></i>
                </div>
                <div class="col-md-6 text-center">
                    <h1>Olá, sou Kássio Luz</h1>
                    <hr class="colored">
                    <p>Estudante de Sistemas de Informação, apaixonado por desenvolvimento de sistemas, freelancer e músico.</p>
                    <p>Para se ter sucesso, é necessário amar de verdade o que se faz. Caso contrário, levando em conta apenas o lado racional, você simplesmente desiste. É o que acontece com a maioria das pessoas. Steve Jobs</p>
                </div>
            </div>
        </div>
    </section>
