<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Kássio Luz Developer</strong>
                </h4>
                <p>Rua Caubi Brasil de Magalhães
                    <br>Boa Vista, RR 2662</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (95) 3625-6580</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kassio.vieira7@gmail.com">kassio.vieira7@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/kassio.vieira.52"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Desenvolvido por &copy; Kássio Luz</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
